<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>PET LOCALIZADO </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://static.vecteezy.com/ti/vetor-gratis/p3/21512828-cachorro-bravo-logotipo-simples-negativo-espaco-projeto-isolado-com-suave-fundo-vetor.jpg" type="image/png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script>
       function redirecionarSeMobile() {
            if (window.innerWidth < 700) {
                window.location.href = "/pagina-mobile";
            }
        }

        // Chame a função quando a página for carregada
        window.onload = redirecionarSeMobile;

    </script>
</head>
<body style="margin: 1px; margin-top: -16px;">

<section id="logo">
    <div id="logo1">
        <p id="achai" > <i class="fa-solid fa-paw" style="box-shadow: 0 25px 20px -3px rgb(140 82 160);background-color: white; padding: 3px;"> </i>  PetResgatePremiado</p>
    </div>
</section>


<section id="corpo">
    <div id="corpao">


        <div id="corpo2">
            <div id="informacoes2">
                <h1 id="contate">NOME</h1>
                <p id="infor">BETO</p>
                <p id="img"><img src="{{ url_for('static', filename='beto.jpeg') }}" alt="Minha Imagem" style="width: 180px;border-radius: 10px; margin: 20px;"></p>
                <p style="    margin: 30px;">Me ajude a retornar para minha casa!</p>
                <p style="    margin: 30px;">CASO O PET CHEGUE A SALVO ESSE SISTEMA TRABALHA COM RECOMPENSA!</p>

            </div>


        </div>

        <div id="corpo2">
            <div id="informacoes2">
                <h1 id="contate">CONTATE-NOS:</h1>
                <p id="infor">61 99568 - 8106</p>
                <p id="infor">61 99607 - 6028</p>
                <p>CLIQUE NO LINK ABAIXO E FALE COM O DONO: </p>
                <a id="inf" style="background-color: #e4d1cb; color: green;" href="{{ url_for('abrir_link2') }}" class="btn" target="_blank"><i  class="fa-fa-brands fa-whatsapp fa-2x fa" style="background-color: #e4d1cb;"></i> WHATSAPP LINK</a>
                <p style="margin: 30px;">CLIQUE ABAIXO E VEJA A ROTA DE ENTREGA DO PET E RESGATE DA RECOMPENSA!</p>
                <a id="inf" style="color: #3f51b5d4; border-radius: 10px;" href="{{ url_for('abrir_link') }}" class="btn" target="_blank"><i id="inf" class="fa-solid fa-location-arrow fa-3x" ></i> LOCALIZACAO</a>
            </div>


        </div>
    </div>
</section>







 <script src="static/js/bootstrap.js"></script>
<script src="https://kit.fontawesome.com/c0eae24639.js" crossorigin="anonymous"></script>

</body>
</html>
