<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>PET LOCALIZADO </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://static.vecteezy.com/ti/vetor-gratis/p3/21512828-cachorro-bravo-logotipo-simples-negativo-espaco-projeto-isolado-com-suave-fundo-vetor.jpg" type="image/png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom2.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script>

        // Chame a função quando a página for carregada
        window.onload = redirecionarSeMobile;
         function redirecionarSeMobile() {
            if (window.innerWidth > 700) {
                window.location.href = "/";
            }
        }

        // Chame a função quando a página for carregada
        window.onload = redirecionarSeMobile;
    </script>
</head>
<body>
<div class="central">
    <section id="logo-mobile">
        <div id="logo1-mobile">
            <p id="achai-mobile" > <i class="fa-solid fa-paw" style="background-color: white; padding: 3px;"> </i>  PetResgatePremiado</p>
        </div>
    </section>

    <section id="corpo">
    <div id="corpao">


            <div id="informacoes2" style="    box-shadow: -13px 15px 10px -1px rgb(0 2 0);">
                <h1 id="contate"><i class="fa-regular fa-id-badge fa-xl" style="color: #1a2942;" id="icone"></i>INFORMACOES</h1>
                <p id="infor">NOME DO PET: BETO</p>
                <p id="infor">RACA: PUG</p>
                <p id="img"><img src="{{ url_for('static', filename='beto.jpeg') }}" alt="Minha Imagem" style="width: 180px;border-radius: 10px; margin: 20px;"></p>
                <p style="    margin: 30px;"><i class="fa-solid fa-house-flag fa-xl" id="icone"></i> Me ajude a retornar para minha casa!</p>
                <p style="    margin: 30px;"><i class="fa-solid fa-money-bill-1-wave fa-2xl" style="color: #1c5a02;" id="icone"></i>CASO O PET CHEGUE A SALVO ESSE SISTEMA TRABALHA COM RECOMPENSA!</p>

            </div>



            <div id="informacoes2" style="    box-shadow: -13px 15px 10px -1px rgb(0 2 0);">
                <h1 id="contate"><i class="fa-solid fa-child-reaching fa-bounce fa-xl" style="color: #000000;" id="icone"></i>CONTATE-NOS:</h1>
                <p id="infor">61 99568 - 8106</p>
                <p id="infor">61 99607 - 6028</p>
                <p>CLIQUE NO LINK ABAIXO E FALE COM O DONO: </p>
                <a id="inf" style="background-color: #e4d1cb; color: green;" href="{{ url_for('abrir_link2') }}" class="btn" target="_blank"><i  class="fa-fa-brands fa-whatsapp fa-2x fa" style="background-color: #e4d1cb;"></i> WHATSAPP LINK</a>
                <p style="margin: 30px;">CLIQUE ABAIXO E VEJA A ROTA DE ENTREGA DO PET E RESGATE DA RECOMPENSA!</p>
                <a id="inf" style="color: #3f51b5d4; border-radius: 10px;" href="{{ url_for('abrir_link') }}" class="btn" target="_blank"><i id="inf" class="fa-solid fa-location-arrow fa-3x" ></i> LOCALIZACAO</a>
            </div>


        </div>
    </div>
</section>
</div>





 <script src="static/js/bootstrap.js"></script>
<script src="https://kit.fontawesome.com/c0eae24639.js" crossorigin="anonymous"></script>

</body>
</html>







 <script src="static/js/bootstrap.js"></script>
<script src="https://kit.fontawesome.com/c0eae24639.js" crossorigin="anonymous"></script>

</body>
</html>
